.hidden {
    display: none !important
}

h1 {
    border-bottom: 1px lightgray solid;
    padding-bottom: 10px;
}

#storybox,
form,
aside {
    display: flex;
    flex-direction: column;

}

button,
span,
input {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}

span {
    text-align: center;
    border: black 1px solid;
}

button:hover,
span:hover {
    background-color: lightpink;
    cursor: grab;
}

aside {
    font-size: 20px;
}